:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;

    --nav-width-full: 275px;
    --header-height-full: 80px;
    --footer-height-full: 60px;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html {
    position: relative;
    min-height: 100%;
}

/***** HEADER *****/
header {
    display: flex;
    align-items: center;
    height: var(--header-height-full);
    padding: 20px;
    color: var(--primary-light);
    background-color: var(--primary-dark);
}

.fa-list-check {
    font-size: 2.75rem;
    margin: 0 20px;
}

h1 {
    font-size: 2rem;
}

main {
    display: flex;
}



/***** NAVAGATION BAR *****/
nav {
    width: var(--nav-width-full);
    padding: 20px 0px 20px 20px;

    color: var(--primary-dark);
    background-color: var(--secondary-light);
}

h2 {
    font-size: 1.15rem;
}

.nav-button:hover {
    background-color: #ccc;

}

.nav-button {
    display: flex;
    align-items: center;
    margin: 5px 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    color: var(--primary-dark);
    background-color: transparent;
    cursor: pointer;
}

.fa-file,
.fa-calendar-day,
.fa-calendar-week,
.fa-diagram-project {
    font-size: 1.75rem;
    width: 35px;
    margin: 0 10px 0 0;
}

/***** TASK MODAL FORM *****/
#modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    background: #ccc;

}


/***** MAIN TASK CONTENT *****/
.tasks-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height-full) - var(--footer-height-full));
    width: calc(100vw - var(--nav-width-full));
    padding: 100px;
    background-color: var(--primary-light);
}

#btn-addTask {
    width: 100px;
    margin: 10px 0;
}

.btn-addTask-hide {
    display: none;
}

.btn-addTask-show {
    display: block;
}

table {
    width: 100%;
    height: 40px;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

thead, td, th {
    border: 1px solid black;
}

tbody, tr, td {
    padding: 5px
}

/** Title **/
thead tr th:nth-child(1) { width: 75%; }

/** DueDate **/
thead tr th:nth-child(2) { width: 10%; }

/** Priority **/
thead tr th:nth-child(3) { width: 10%; }

/** Edit | Del **/
thead tr th:nth-child(4), thead th:nth-child(5) { width: 5%; }
.td-edit, .td-trash { 
    display: flex;
    justify-content: center;
}

.btn-edit, .btn-trash {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



/***** FOOTER BAR *****/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height-full);
    padding: 20px;
    color: var(--primary-light);
    background-color: var(--primary-dark);;
}

.fa-github {
    margin: 0 10px;
}

